# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
env/

# --- Airflow & Data ---
airflow.db
logs/
*.log
*.csv
*.xlsx
output/

# --- Project Specific (Airflow DAGs) ---
# Ignora copias accidentales o temporales en la carpeta de DAGs
dags/**/* copy.py
dags/**/*.bak
dags/**/*_old.py

# --- Scrapers & Browsers (Playwright) ---
node_modules/
include/playwright_browsers/
include/state.json

# --- Sensitive Credentials ---
# Muy importante para tus integraciones con Google Drive y APIs
include/drive_service_account.json
include/*.csv

# --- General ---
.DS_Storedags/* copy.py
